@use '../global' as *;

.c-accordion {
  max-width: 640px;
}

.c-accordion__item {
  border: #ddd 1px solid;

  & + & {
    margin-top: 1em;
  }
}

.c-accordion__headline {
  background-color: #555;
  color: #fefefe;
  font-weight: normal;
}

.c-accordion__tab {
  $_activeColor: #858585;

  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  text-align: left;
  transition: background-color 0.3s;
  width: 100%;

  &[aria-expanded='true'] {
    background-color: $_activeColor;
  }

  @include hover() {
    background-color: $_activeColor;
  }
}

.c-accordion__tabicon {
  color: inherit;
  display: inline-block;
  height: 1em;
  margin-left: 1em;
  pointer-events: none;
  position: relative;
  width: 1em;

  &::before,
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &::after {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .c-accordion__tab[aria-expanded='true'] & {
    &::after {
      transform: rotate(0);
    }
  }
}

.c-accordion__panel-content {
  line-height: 1.75;
  padding: 1.5em;
}
