<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  {%- include 'layout/_meta.njk' %}
</head>
<body>
  <div class="l-site">
    <header class="l-site__header">
      {%- include 'layout/_header.njk' %}
    </header>
    <main class="l-site__main">
      {% block main -%}
      コンテンツ
      {%- endblock %}
    </main>
    <footer class="l-site__footer">
      {%- include 'layout/_footer.njk' %}
    </footer>
  </div>
</body>
</html>
